html {
    background-color: #999999;
}

.board_square {
    z-index: 100;
}

.legal_move_square {
    background-color: darkgoldenrod !important;
}

.light {
    background-color: lightgray;
}

.dark {
    background-color: darkgray;
}

svg {
    display: block;
    margin: auto;
    position: relative;
    z-index: -100;
}

.column_centering {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.piece_drag_target {
    width: 100%;
    height: 100%;
}
